<div class="container-fluid">
    {{#if (showMap)}}
        <div class="map-table-title">
            I3C Use Cases for
            <a href="{{column.href}}">{{column.name}}</a>
            /
            <a href="{{row.href}}">{{row.name}}</a>
        </div>
        <table class="table table-borderless">
            <thead class="map-table-header">
                <tr>
                    <th></th>
                    {{#each mapMatrix.subColumnHeaders}}
                        <th><a href="{{this.href}}">{{this.name}}</a></th>
                    {{/each}}
                </tr>
            </thead>
            <tbody class="map-table-body">
                {{#each mapMatrix.subRows as |rowObj rowKey|}}
                    <tr>
                        {{#each rowObj as |coordinatePoint coordinatePointKey|}}
                            {{#if coordinatePoint.name}}
                                <th><a href="{{coordinatePoint.href}}">{{coordinatePoint.name}}</a></th>
                            {{else}}
                                {{#if coordinatePoint.length}}
                                    <td class="map-marker-cell">
                                        <div class="map-marker-pin">
                                            {{#if (isArrayLengthGreater coordinatePoint 1)}}
                                                <span class="map-marker map-marker-shift glyphicon glyphicon-map-marker" data-row-index="{{rowKey}}" data-coordinate-index="{{coordinatePointKey}}" />
                                                <sup class="map-marker map-marker-counter" data-row-index="{{rowKey}}" data-coordinate-index="{{coordinatePointKey}}">{{coordinatePoint.length}}</sup>
                                            {{else}}
                                                <span class="map-marker glyphicon glyphicon-map-marker" data-row-index="{{rowKey}}" data-coordinate-index="{{coordinatePointKey}}" />
                                            {{/if}}
                                        </div>
                                    </td>
                                {{else}}
                                    <td></td>
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <div class="map-no-table">
            <p>No data found for this combination.</p>
        </div>

    {{/if}}
</div>
