<div id="map-marker-modal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Use Cases matching
                    <a href="{{activeSubColumn.href}}">{{activeSubColumn.name}}</a>
                    /
                    <a href="{{activeSubRow.href}}">{{activeSubRow.name}}</a>
                </h3>
            </div>
            <div class="map-marker-modal-list modal-body">
                {{#each mapMarkers as |mapMarker index|}}
                    <div class="map-marker-modal-item">
                        <a
                            class="map-marker-link"
                            data-toggle="tooltip"
                            href="{{mapMarker._links.self.href}}"
                            title="{{mapMarker.name}}"
                            >
                            {{mapMarker.name}}
                        </a>
                        <span class="toggler collapsed" data-href="{{mapMarker._links.preview.href}}">
                            <span class="expand-preview glyphicon glyphicon-collapse-down"></span>
                            <span class="collapse-preview glyphicon glyphicon-collapse-up"></span>
                        </span>
                        {{!-- {{#if ../tooltip}}
                            <div>
                                <span class="glyphicon glyphicon-info-sign"></span>&nbsp;{{../tooltip}}
                            </div>
                        {{/if}} --}}
                        <div class="map-marker-preview-container">
                            {{> ./map-marker-modal-preview}}
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
