<li class="list-item bold btn btn-secondary";
    data-id="{{id}}"
    data-href="{{href}}"
    {{#if ImageURL}}data-url="{{ImageURL}}"{{/if}}
    title="{{name}}"
    data-warpjs-name="{{name}}"
    >{{name}}</li>
